@keyframes up {
    from {
      opacity: 0;
      transform: translateY(16px);
    }
    to {
      opacity: 1;
    }
}
@keyframes down{
    from{
        opacity: 0;
        transform: translateY(-16px);
    }
    to{
        opacity: 1;
    }
}
.links{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.links .item{
    animation: up 720ms ease-in-out forwards;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 32px auto;
    width: 30%;
}
.links .item:first-child div:first-child img{
    width: 30%;
}
.links .item div:first-child img{
    width: 20%;
}
.links .item div:last-child{
    animation: down 720ms ease-in-out forwards;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
@media(max-width:700px){
    .links{
        display: flex;
        justify-content: center;
    }
    .links .item:first-child div:first-child img{
        width: 100%;
        margin-top: -13px;
    }
    .links .item div:first-child{
        width: 100%;
    }
    .links .item div:first-child img{
        width: 50%;
    }
    .links .item div:last-child{
        display: none;
    }
}