header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Roboto;
    width:100%;
    padding: 13px 0;
}
header.headerProject {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 101px;
}
header a{
    color: #fff;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s;
}
header a.projects {
    position: relative;
    width: 100%;
    height: 101px;
}
header a + a{
    margin-left: 16px;
    
}
header a:hover{
    color: #7159c1;
}
@media(max-width:1000px){
    header{
        display: flex;
        flex-direction: column;
    }
    header h1, header a{
        font-size: 16px;
    }
    header.headerProject {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: Roboto;
        width:100%;
        padding: 13px 0;
    }
}