.projects_header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects_header div{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projects_header a{
    position: absolute;
    left: 0;
    margin-left: 13px;
}
main .projects{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}
main .projects .project{
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #00001428;
    margin: 30px;
    border-radius: 13px;
    border: 1px solid rgb(218, 215, 215);
    text-align: center;
    width: 25%;
}
main .projects .project + .project{
    margin-left: 28px;
}
main .projects .project header img{
    border-radius: 50%;
    width: 80px;
    padding: 1px;
    border: 1px solid transparent;
    position: absolute;
    box-sizing:border-box;
    transition: 0.2s;
}
main .projects .project header img:hover{
    border: 1px solid coral;
}
main .projects .project header{
    height: 60px;
}
main .projects .project .thumbnail img{
    text-align: center;
    width: 68%;
}
main .projects .project .description p{
    width: 80%;
    margin: 13px auto;
    text-align: left;
}
main .projects .project .description h2{
    margin: 23px auto;
    text-align: center;
}
@media(max-width:880px){
    main .projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    header h1{
        font-size: 32px;
    }
    main .projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main .projects .project{
        width: 50%;
        height: auto;
        padding-bottom: 50px;
    }
    main .projects .project .thumbnail img{
        text-align: center;
        width: 70%;
    }
}
@media(max-width:550px){
    header h1{
        font-size: 32px;
    }
    main .projects{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    main .projects .project{
        width: 80%;
        height: 400px;
    }
} 