footer{
    width: 100%;
    color: #fff;
    background-color: #4ee1ff;
    padding: 8px 0;
    
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: rgb(255, 249, 249);
}
footer img{
    width: 5%;
}